<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.gyull.cookivel.mapper.home.HomeMapper">
<select id="list" resultType="com.gyull.cookivel.domain.member.MemberVO">
SELECT member_idx, mem_email, mem_pw, mem_nickName, mem_phoneNum FROM member
</select>
<insert id="create">
INSERT INTO member(mem_email, mem_pw, mem_nickName, mem_phoneNum, mem_regDate)
VALUES(#{mem_email}, #{mem_pw}, #{mem_nickName}, #{mem_phoneNum}, now())
</insert>
<select id="getMember" resultType="com.gyull.cookivel.domain.member.MemberVO">
SELECT * FROM member
WHERE member_idx = #{member_idx}
</select>
</mapper>